@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 40px;
    font-family: "Roboto Slab";
    color: #1e1e1e;
}

h2 {
    font-family: "Roboto Slab";
    font-size: 30px;
    color: #4a4a4a;
}

p {
    color: #6e6e6e;
    font-weight: 600;
    font-family: "Source Sans Pro";
}


body {
    background-color: lightgray;
}

.page {
    width: 950px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 35px;
}

.small-font {
    font-size: 14px;
}